a {
    text-decoration: none;
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo {
    order: 1;
}

.links {
    order: 2;
    display: flex;
    list-style: none;
}

.links > li {
    margin-right: 15px;
}

.header {
    height: 500px;
}

.intro {
    width: 70%;
    font-size: 40px;
    font-weight: bold;
    padding: 50px 0px 0px 60px;
}

.header-action {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.action-links > a {
    margin-right: 30px;
    background-color: #222;
    font-size: 10px;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
}

.action-links > a:nth-child(2) {
    background-color: #eee;
    color: #222;
}

.category > a {
    font-size: 12px;
    margin-right: 10px;
}

#menu {
    display: none;
}

#menu-label {
    order: 3;
    cursor: pointer;
}



@media screen and (max-width:600px){
    .links {
        position: absolute;
        top: 20px;
        right: 0px;
        left: 0px;
        width: 100%;
        background-color: white;
        transform: scale(1, 0);
        flex-direction: column;
        transition: all 1s ease;
        transform-origin: top;
    }
    .intro {
        font-size: 20px;
    }
    #menu:checked ~ .links {
        transform: scale(1, 1);
    }
    .links > li {
        padding: 5px 20px;
    }
}



.transform-rotate {
    background-color: red;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    transition-property: all;
    transition-delay: 0s;
    transition-duration: 1.5s;
    transition-timing-function: linear;
    color: white;
}

.transform-rotate:hover {
    transform: rotate(30deg)
}

.transform-translate {
    background-color: red;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    transition-property: all;
    transition-delay: 0s;
    transition-duration: 1.5s;
    transition-timing-function: linear;
    color: white;
}

.transform-translate:hover {
    transform: translate(50px, 15px)
}

.transform-scale {
    background-color: red;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    transition-property: all;
    transition-delay: 0s;
    transition-duration: 1.5s;
    transition-timing-function: linear;
    color: white;
}

.transform-scale:hover {
    transform: scale(2, 0.5)
}

.transform-skew {
    background-color: red;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    transition-property: all;
    transition-delay: 0s;
    transition-duration: 1.5s;
    transition-timing-function: linear;
    color: white;
}

.transform-skew:hover {
    transform: skew(-30deg, -15deg)
}

.matn {
    
}

.matn::before{
    content: 'ghabl';

}

.matn::after {
    content: 'bad';
}

.matn:hover::after {
    content: 'text after hover';
}

.flexbox {
    display: flex;
    flex-direction: column;
}

.mydivs {
    width: 100px;
    height: 100px;
    background-color: red;
    margin-bottom: 50px;
}